body{
  display: flex;
  justify-content: center;
  align-content: center;
}

.app {
  margin-top: 50px;
  width: 450px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 10px;
  padding: 20px;

  &_form {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
  }

  &_input {
    width: 300px;
  }

  &_btns {
    margin-top: 5%;
    display: flex;
    gap: 15px;
  }
}

